
.icon-facebook-squared:before { content: '\e94f'; } /* '' */
.icon-ion-social-gplus:before { content: '\e957'; } /* '' */
.icon-noun-bag:before { content: '\eade'; } /* '' */
.icon-ion-social-twitter:before { content: '\f243'; } /* '' */
.icon-shopping-basket:before { content: '\f291'; } /* '' */
.icon-ion-social-pinterest:before { content: '\f2b1'; } /* '' */
.icon-ion-social-instagram-outline:before { content: '\f350'; } /* '' */
.icon-ion-android-menu:before { content: '\f394'; } /* '' */
.icon-ion-ios-arrow-back:before { content: '\f3cf'; } /* '' */
.icon-ion-ios-arrow-down:before { content: '\f3d0'; } /* '' */
.icon-ion-ios-arrow-forward:before { content: '\f3d1'; } /* '' */
.icon-ion-ios-arrow-left:before { content: '\f3d2'; } /* '' */
.icon-ion-ios-arrow-right:before { content: '\f3d3'; } /* '' */
.icon-ion-ios-arrow-thin-down:before { content: '\f3d4'; } /* '' */
.icon-ion-ios-arrow-thin-left:before { content: '\f3d5'; } /* '' */
.icon-ion-ios-arrow-thin-right:before { content: '\f3d6'; } /* '' */
.icon-ion-ios-arrow-thin-up:before { content: '\f3d7'; } /* '' */
.icon-ion-ios-arrow-up:before { content: '\f3d8'; } /* '' */
.icon-ion-ios-search:before { content: '\f4a5'; } /* '' */